<!DOCTYPE html>
<html lang="en" sandbox="allow-scripts allow-same-origin allow-downloads">

<head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   <title>{{ messages.company_name }}'s Org Charts ({{ messages.type }}) - Arxena</title>
   <meta name="description" content="This is Arxena's rendering of the org chart of {{ messages.company_name }}">
   <link rel="stylesheet" href="static/react/static/css/main.6e0f582d.css">
</head>

<body>
   <div id="root"></div>
   <script src="static/react/static/js/main.4a7d2ef7.js"></script>
</body>

</html>